<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>

<menu id="preferences" label="Preferences">
	<menu id="openbox-config" label="Openbox Config">
		<item label="GUI Config Tool">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
		<item label="Key Editor">
			<action name="Execute">
				<command>obkey</command>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
	</menu>
	<menu id="screenshot" label="Take Screenshot">
		<item label="Now">
			<action name="Execute">
				<command>scrot &apos;%Y-%m-%d-%s_$wx$h_screenshot.png&apos; -e &apos;mv $f ~/ &amp; xviewer ~/$f&apos;</command>
			</action>
		</item>
		<item label="In 5 Seconds...">
			<action name="Execute">
				<command>scrot -d 5 &apos;%Y-%m-%d-%s_$wx$h_screenshot.png&apos; -e &apos;mv $f ~/ &amp; xviewer ~/$f&apos;</command>
			</action>
		</item>
		<item label="In 10 Seconds...">
			<action name="Execute">
				<command>scrot -d 10 &apos;%Y-%m-%d-%s_$wx$h_screenshot.png&apos; -e &apos;mv $f ~/ &amp; xviewer ~/$f&apos;</command>
			</action>
		</item>
		<item label="Selected Area... (click &amp; drag mouse)">
			<action name="Execute">
				<command>scrot -s &apos;%Y-%m-%d-%s_$wx$h_screenshot.png&apos; -e &apos;mv $f ~/ &amp; xviewer ~/$f&apos;</command>
			</action>
		</item>
	</menu>
	<item label="Screen Resolution">
		<action name="Execute">
			<command>arandr</command>
		</action>
	</item>
	<item label="Terminal">
		<action name="Execute">
			<command>urxvt</command>
		</action>
	</item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <menu id="applications" label="Applications" execute="/usr/bin/obmenu-generator -S ~/.config/obmenu-generator/application.pl"/>
	<menu id="preferences"/>
	<separator/>
  <item label="Exit">
		<action name="Execute">
			<command>rofr.sh -l</command>
		</action>
	</item>
</menu>

</openbox_menu>
